<div class="jumbotron">
	<h1 class="text-center">LECTS</h1>
</div>

<p ng-show="message.length" class="alert alert-info">
	{{message}}
</p>

<div class="row">
	<div class="col-md-12">
		<form class="mb-2">
			<div class="input-group">
				<div class="btn-group">
					<button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
					    aria-expanded="false">
						<span class="octicon octicon-clippy"></span>
						<img src="../css/svg/three-bars.svg" width="36" height="36"></img>
					</button>
					<div class="dropdown-menu">						
						<a class="dropdown-item" href="/learningObjs/new">Novo objeto</a>
						<a class="dropdown-item" href="/activitys/new">Nova atividade</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="/tags">Tags</a>
						<a class="dropdown-item" href="/users">Usuários</a>
					</div>
				</div>
				<input class="form-control" placeholder="filtrar pelo título do objeto" ng-model="filter">
			</div>
		</form>
		<div class="row">
			<div class="col-md-6 mb-1" ng-repeat="lo in learningObjs | filter: filter">
				<div class="input-group mb-2">
					<div class="input-group-prepend mb-1">
						<div class="input-group-text">
							<div ng-if="lo.media_type == 'Imagem' && lo.media_url">
								<img class="rounded float-left img-thumbnail" src="../images/imagem.png">
							</div>
							<div ng-if="lo.media_type == 'Vídeo' && lo.media_url">
								<img class="rounded float-left img-thumbnail" src="../images/video.png">
							</div>
							<div ng-if="lo.media_type == 'Áudio' && lo.media_url">
								<img class="rounded float-left img-thumbnail" src="../images/audio.png">
							</div>
						</div>
					</div>
					<p class="h5 form-control mb-1">{{lo.question | limitTo: 100}}...</p>
					<a class="btn btn-outline-primary btn-block" href="/learningObjs/edit/{{lo._id}}">
						Editar
					</a>
					<button class="btn btn btn-outline-danger btn-block" ng-click="">Apagar</button>
				</div>
			</div>
		</div>
	</div>
</div>