<div class="page-header text-center">
	<h1>{{learningObj.title | limitTo: 15}}...</h1>
</div>

<p ng-show="message.length" class="alert alert-info">{{message}}</p>

<form novalidate name="editCreateForm" class="row" ng-submit="submit()">
	<div class="col-md-6">
		<div class="form-group">
			<label>Título</label>
			<textarea name="title" class="form-control" ng-model="learningObj.title" required></textarea>
			<span ng-show="editCreateForm.$submitted && editCreateForm.title.$error.required" class="form-control alert-danger">
				Título obrigatório
			</span>
		</div>
		<div class="form-group">
			<label>Tipo de mídia do url</label>
			<select name="media" ng-model="learningObj.media_type" class="form-control" ng-controller="MediaTypesController" ng-options="media.name as media.name for media in mediaTypes">
				<option value="">Escolha um tipo</option>
			</select>
		</div>
		<div class="form-group">
			<label>URL da mídia</label>
			<input name="url" class="form-control" ng-model="learningObj.media_url" ng-disabled="(!learningObj.media_type)">
		</div>
		<div class="form-group">
			<label>Tipo de resposta</label>
			<select name="answer" ng-model="learningObj.answer_type" class="form-control" required 
				ng-controller="AnswerTypesController" ng-options="answer.name as answer.name for answer in answerTypes" 
				ng-change="resetRadios()" value="learningObj.answer_type">
				<option value="">Escolha um tipo</option>
			</select>
			<span ng-show="editCreateForm.$submitted && editCreateForm.answer.$error.required" class="form-control alert-danger">
				Tipo de resposta obrigatório
			</span>
		</div>
		<div id="divMultEsc" class="form-group" ng-if="learningObj.answer_type == 'Múltipla escolha'">
			<label>Alternativas (apenas uma correta)</label>
			<button type="button" class="btn btn-secondary mb-1" ng-click="addNewAnswer()">Adicionar campo</button>		
			<fieldset  data-ng-repeat="answer in learningObj.answers">
				<div id="answerId3" class="input-group mb-1">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<input type="radio" name="answersRadioGroup" 
								ng-model="answer.correct" value="true"
								ng-change="radioChange(answer)">
						</div>
					</div>
					<input type="text" class="form-control" ng-model="answer.text">
					<button class="remove" ng-show="$last" ng-click="removeAnswer()">-</button>
				</div>
			</fieldset>
		</div>
		<div class="form-group" ng-if="learningObj.answer_type == 'Dissertativa'">
			<label>Resposta correta, ou texto para auxiliar na correção</label>
			<br>
			<textarea name="title" class="form-control" ng-model="learningObj.answers[0].text"></textarea>
		</div>
		<div id="divMulEscVF" class="form-group" ng-if="learningObj.answer_type == 'Múltipla escolha (Certo/Errado)'">
			<label>Alternativas (selecione todas as corretas)</label>
			<br>
			<button type="button" class="btn btn-secondary mb-1" ng-click="addNewAnswer()">Adicionar campo</button>		
			<fieldset  data-ng-repeat="answer in learningObj.answers">
				<div id="answerId3" class="input-group mb-1">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<input type="checkbox"
								ng-model="answer.correct"
								ng-true-value="'true'"
								ng-false-value="'false'">
						</div>
					</div>
					<input type="text" class="form-control" ng-model="answer.text">
					<button class="remove" ng-show="$last" ng-click="removeAnswer()">-</button>
				</div>
			</fieldset>
		</div>

		<button type="submit" class="btn btn-primary" ng-disabled="editCreateForm.$invalid">
			Salvar
		</button>
		<a href="/home" class="btn btn-primary">Voltar</a>
		<hr>
	</div>
	<div class="col-md-6" ng-if="learningObj.media_type == 'Imagem' && learningObj.media_url">
		Visualização da mídia<br>
		<img class="img-responsive center-block" src="{{learningObj.media_url}}">
	</div>
	<div class="col-md-6" ng-if="learningObj.media_type == 'Vídeo' && learningObj.media_url">
		Visualização da mídia (Só para vídeos do Youtube)<br>
		<iframe width="560" height="315" ng-src="{{learningObj.media_url | trustUrl}}" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="col-md-6" ng-if="learningObj.media_type == 'Áudio' && learningObj.media_url">
		Visualização da mídia<br>
		<audio controls>
			<source src="{{learningObj.media_url}}">
		</audio>
	</div>
</form>