<div class="page-header text-center">
    <h1>{{lesson.title | limitTo: 15}}...</h1>
</div>

<p ng-show="message.length" class="alert alert-info">{{message}}</p>

<form novalidate name="editCreateForm" class="row" ng-submit="submit()">
    <div class="col-md-12">
        <div class="form-group">
            <label>Título</label>
            <textarea name="title" class="form-control" ng-model="lesson.title" required></textarea>
            <span ng-show="editCreateForm.$submitted && editCreateForm.title.$error.required" class="form-control alert-danger">
                Título obrigatório
            </span>
        </div>
        <div class="form-group">
            <label>Descrição</label>
            <textarea name="description" class="form-control" ng-model="lesson.description"></textarea>
        </div>
        <div class="form-group">
            <label>Objetos de aprendizagem</label>
        </div>
        <div class="row">
			<div class="col-md-6 mb-1" ng-repeat="lo in learningObjs | filter: filter">
				<div class="input-group mb-2">
                    <input type="checkbox" 
                        class="form-check-input"
                        ng-model="lo.selected"
                        ng-true-value="'true'"
                        ng-false-value="'false'">
					<div class="input-group-prepend mb-1">
						<div class="input-group-text">
							<div ng-if="lo.media_type == 'Imagem' && lo.media_url">
								<img class="rounded float-left img-thumbnail" src="../images/imagem.png">
							</div>
							<div ng-if="lo.media_type == 'Vídeo' && lo.media_url">
								<img class="rounded float-left img-thumbnail" src="../images/video.png">
							</div>
							<div ng-if="lo.media_type == 'Áudio' && lo.media_url">
								<img class="rounded float-left img-thumbnail" src="../images/audio.png">
							</div>
						</div>
					</div>
					<p class="h5 form-control mb-1">{{lo.question | limitTo: 100}}...</p>
                </div>
			</div>
        </div>        
        <button type="submit" class="btn btn-primary" ng-disabled="editCreateForm.$invalid">
            Salvar
        </button>
        <a href="/home" class="btn btn-primary">Voltar</a>
        <hr>
    </div>
</form>