<div class="jumbotron">
	<h1 class="text-center">LECTS</h1>
</div>

<p ng-show="message.length" class="alert alert-info">
	{{message}}
</p>

<div class="row">
	<div class="col-md-12">
		<form>
			<div class="input-group">
				<span class="input-group-btn">
					<a href="/learningObjs/new" class="btn btn-primary" type="button">
						Novo objeto
					</a>
				</span>
				<input class="form-control" placeholder="filtrar pelo título do objeto" 
					ng-model="filter" ng-model-options="{ debounce: 500 }">
		</form>
	</div>
</div>