<div class="jumbotron">
	<h1 class="text-center">LECTS</h1>
</div>

<p ng-show="message.length" class="alert alert-info">
	{{message}}
</p>

<div class="row">
	<div class="col-md-12">
		<form>
			<div class="input-group">
				<span class="input-group-btn">
					<a href="/#/learningObj/new" class="btn btn-primary" type="button">
						Nova foto
					</a>
				</span>
				<input class="form-control" placeholder="filtrar pelo título do objeto" 
					ng-model="filter" ng-model-options="{ debounce: 500 }">
		</form>
	</div> <!-- fim col-md-12 -->
</div> <!-- fim row -->

<div class="row">
    <meu-painel class="col-md-2 painel-animado" ng-repeat="lo in learningObjs | filter: filter" titulo="{{lo.title}}">
        <minha-foto url="{{foto.url}}" alt="{{foto.titulo}}"></minha-foto>

		<a class="btn btn-primary btn-block" href="/#/fotos/edit/{{foto._id}}">
			Editar
		</a>
		<meu-botao-perigo nome="Remover" acao="remover(foto)">Remover</meu-botao-perigo>
    </meu-painel>
</div>
			